* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 15px;
  color: white;
}
.menu {
  display: flex;
  list-style: none;
}
.menu li {
  margin: 0 15px;
}
.menu li a {
  color: white;
  text-decoration: none;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px;
}
@media (max-width: 768px) {
  .menu {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background: #333;
  }
  .menu.active {
      display: flex;
  }
  .hamburger {
      display: flex;
  }
}




/* Estilo geral */
body {
  background-color: #4f4c49;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1{
  color: #ece4db;
  text-shadow: 0.1em 0.1em 0.2em black
}


p {
  color: #ece4db;
  font-size: 1.2rem; /* Ajuste de fonte para maior legibilidade */
  line-height: 1.6;
  margin: 20px;
}

/* Imagens Responsivas */
.responsive {
  width: 100%;
  height: auto;
  max-width: 900px; /* Limita a largura para telas grandes */
}

/* Rodapé */
.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer h4 {
  margin-bottom: 15px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a {
  color: #1e90ff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: #fff;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .nav-links {
    flex-direction: column;
    width: 100%;
  }

  .navbar .nav-links a {
    text-align: left;
    padding: 10px 20px;
    width: 100%;
  }

  button {
    font-size: 1rem;
    width: 100%;
    margin: 10px 0;
  }

  .footer .container {
    flex-direction: column;
    align-items: center;
  }
}



.card{
  width: 90%;
  max-width: 250px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 450px;
  display: inline-block;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.image {
  width: 100%;
  height: auto;
  transition: opacity 0.5s;
  height: 350px;
}

.image.hidden {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  text-align: center;
}
